.Home {
    width: 100%;
    z-index: 200;
    overflow: hidden;
}

.Home>header {
    width: 100%;
    height: 40%;
    border-radius: 0 0 25px 0;
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.1));
    background-color: white;
}

.Home h1 {
    margin: 50px;
}

.Home h3 {
    margin: 40px;
}

@media only screen and (max-width: 600px) {
    .Home>header {
        height: fit-content;
        border-radius: 0;
        filter: none;
        background-color: inherit;
    }

    .Home h1 {
        margin: 25px;
    }
}

/* Square Styles */

.Home article>h2 {
    margin: 50px 50px 35px 50px;
}

.Home article .carrousel {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    /* overflow-y: auto; */
    /* scrollbar-color: white; */
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    background: white;
}

.square {
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    margin: 15px 0 15px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.square .container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.square header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.square header > .img-container {
    width: 40px;
    aspect-ratio: 1/1;
}

.square header > .img-container img {
    width: inherit;
}

.square span {
    font-size: var(--sText);
    font-weight: bold;
}

.square h2 {
    margin-bottom: 5px;
}

.square:active{
    background-color: rgb(246, 246, 246);
}

@media only screen and (max-width: 1100px) {
    .Home article .carrousel {
            grid-template-columns: 1fr 1fr 1fr;
            width: 90%;
        }
 }

@media only screen and (max-width: 800px) {
    .Home article>h2 {
        margin: 30px 30px 15px 30px;
    }

    .Home article .carrousel {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .square {
        margin-left: 30px;
    }

    .square .container {
        gap: 20px;
    }

    .square header>.img-container {
        width: 35px;
        aspect-ratio: 1/1;
    }
}

@media only screen and (max-width: 400px) {
    .Home article>h2 {
        margin: 30px 30px 15px 30px;
    }

    .Home article .carrousel {
        grid-template-columns: 1fr;
        width: 75%;
    }

    .square {
        margin-left: 30px;
    }

    .square .container {
        gap: 20px;
    }

    .square header>.img-container {
        width: 35px;
        aspect-ratio: 1/1;
    }
}